.ok {
  color: green;
  font-weight: bold;
  margin-left: 5px;
}
.fail {
  color: red;
  font-weight: bold;
  margin-left: 5px;
  display: inline-block;
  max-width: 300px;
}

.status {
  display: block;
  font-size: 0.85em;
  margin-top: 4px;
  font-weight: 500;
}


.status {
    display: inline-block;
    width: 220px;      /* reserve space for checkmark & bilingual message */
    margin-left: 10px; /* little gap from the input */
    vertical-align: middle;
    font-size: 0.9em;
  }
  .ok { color: green; }
  .fail { color: red; }
